{% extends "base.html" %}
{% block body %}
    <div style="align-self: center;">
        <h1 style="width: 70%; text-align: center; margin-left: 200px">
            It is our home page. Here we will tell you about our web-site and show you our example
        </h1>
        <p style="width: 70%; margin-left: 200px; font-size: 20px; text-indent: 40px; line-height: 1.5em;">
                Launching a new website, or want to drive some traffic to your existing site? Marketing your site is a crucial
            part of increasing your viewership, and advertising takes many forms. From optimizing your site to increasing
            awareness, advertising your site is crucial for becoming successful online.
        </p>
    </div>

{% endblock %}
